.slide-panel-reserve {
    position: fixed;
    top: 0;
    right: -500px; /*Start hidden*/
    width: 500px;
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
    z-index: 2100;
    display: flex;
    flex-direction: column;
  }
  
  .slide-panel-reserve.open {
    right: 0;
  }

  .slide-panel-reserve-content {
    flex-grow: 1;
    overflow-y: hidden;
}
  
  .close-btn {
    position: absolute;
    background-color: black;
    width: '10%';
    left: -5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Dark gray */
    display: flex;
    align-items: center;
}

.close-btn:hover {
    color: red;
}